
@{
    ViewBag.Title = "Index";
}

<div id="grid" tabindex="0"></div>

<div>
    <button onclick="SaveToDataBase()"> Save To DataBase</button>
</div>
<script>

      $("#grid").kendoGrid({
        // the column fields should match the excel columns
        columns: [
           
              { field: "Year" },
              { field: "Sales" },
              { field: "Costs" },
              { field: "Profit" }
        ],
        dataSource: [
          
        ]
      }).on('focusin', function(e) {
        // Get the position of the Grid.
        var offset = $(this).offset();
        // Create a textarea element which will act as a clipboard.
        var textarea = $("<textarea>");
        // Position the textarea on top of the Grid and make it transparent.
        textarea.css({
          position: 'absolute',
          opacity: 0,
          top: offset.top,
          left: offset.left,
          border: 'none',
          width: $(this).width(),
          height: $(this).height()
        })
        .appendTo('body')
        .on('paste', function() {
          // Handle the paste event.
          setTimeout(function() {
            // The pasted content.
            var value = $.trim(textarea.val());
            // Get instance to the Grid.
            var grid = $("#grid").data("kendoGrid");
            // Get the pasted rows - split the text by new line.
            var rows = value.split('\n');

            var data = [];

              var noOfRows = rows.length;
              var noOfColumns = rows[0].split('\t').length;

              for (var i = 0; i < noOfColumns; i++) {

                  var rowItem = {};

                  for (var x = 0; x < noOfRows; x++) {

                      if (x === 0) {
                          rowItem.Year = rows[x].split('\t')[i];
                         
                      }

                      if (x === 1) {
                          rowItem.Sales = rows[x].split('\t')[i];
                      }

                      if (x === 2) {
                          rowItem.Costs = rows[x].split('\t')[i];
                      }
                      
                      if (x === 3) {
                          rowItem.Profit = rows[x].split('\t')[i];
                      }
                     
                  }

                  data.push(rowItem);

              }

              console.log(data);

            //for (var i = 0; i < rows.length; i++) {
            //  var cells = rows[i].split('\t');
            //  data.push({                 
            //      Year: cells[0],
            //      Sales: cells[1],
            //      Costs: cells[2],
            //      Profit: cells[3]
            //  });
            //  };

            //  TransposeData(data);

            grid.dataSource.data(data);
          });
        }).on('focusout', function() {
          // Remove the textarea when it loses focus.
          $(this).remove();
        });
        // Focus the textarea.
        setTimeout(function() {
          textarea.focus();
        });
      });

        var rawData,
            data = [],
            model = {},
            length,
            dataLength,
            propertiesLength;

    function TransposeData(rawData) {

         //   var rawData = $("#grid").data("kendoGrid").dataSource.data();

            console.log("Raw data: ", rawData);

            dataLength = rawData.length;

            propertiesLength = Object.keys(rawData[0]).length;

            for (var i = 0; i < propertiesLength; i += 1) {
                data[i] = {};
                for (var j = 0; j < dataLength; j += 1) {
                    var currentItem = rawData[j]
                    var property = Object.keys(currentItem)[i];
                    if (j === 0) {
                        data[i]["Property"] = property;
                    }
                    data[i][currentItem.FirstName] = currentItem[property]
                }
            }


            console.log("Data: ", data);

            //$("#grid").kendoGrid({
            //    dataSource: {
            //        data: data,
            //        pageSize: 20,
            //    },
            //    scrollable: true
            //});
        }
        
        function GetGridIitems() {

            var gridItems = $("#grid").data("kendoGrid").dataSource.data();

            var noOfItems = parseInt(gridItems.length);

            var arrayOfItems = [];

            for (var j = 0; j < noOfItems; j++) {

                var Id = parseInt(gridItems[j].Id);
                var year = parseInt(gridItems[j].Year);
                var sales = parseFloat(gridItems[j].Sales);
                var costs = parseFloat(gridItems[j].Costs);
                var profit = parseFloat(gridItems[j].Profit);

                var item = { Id, year, sales, costs, profit };

                arrayOfItems.push(item)

            }
        }

    function SaveToDataBase() {

        var gridItems = $("#grid").data("kendoGrid").dataSource.data();

        var noOfItems = parseInt( gridItems.length);

        var arrayOfItems = [];

        for (var j = 0; j < noOfItems; j++) {

            var Id = parseInt(gridItems[j].Id);
            var year = parseInt(gridItems[j].Year);
            var sales = parseFloat(gridItems[j].Sales);
            var costs = parseFloat(gridItems[j].Costs);
            var profit = parseFloat(gridItems[j].Profit);

            if (typeof(year) != "number") {

                alert(`Enter a valid year for row ${(j + 1)}`);
            }

            if (typeof (sales) != "number") {

                alert(`Enter valid sales for row ${(j + 1)}`);
            }

            if (typeof (costs) != "number") {

                alert(`Enter valid costs for row ${(j + 1)}`);
            }

            if (typeof (profit) != "number") {

                alert(`Enter valid profit for row ${(j + 1)}`);
            }


            var item = {Id,year,sales,costs,profit};
                        
            arrayOfItems.push(item)

        }

        console.log(arrayOfItems);

        $.post({
            url: "/import/Financials",
            data: JSON.stringify(arrayOfItems),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //email code confirmation

               // ShowMessage(`Kindly go to your email at ${$("#reg-email").val()} 
               //click on the link in your email to activate your account`, 'ResendConfirmationMessage', 'success');

               // RemoveSpinnerToButton(btn);

                console.log("Success: ", data);

           }
        }).fail(function (data) {

            console.log("Failed: ", data);

            //RemoveSpinnerToButton(btn);

        });


    }

</script>


