
@{
    ViewBag.Title = "Index";
}

<div id="grid" tabindex="0"></div>

<div style="text-align:center;padding-top:10px">
    <button class="btn btn-success" onclick="SaveToDataBase()"> Save To DataBase</button>
</div>
<script>

      $("#grid").kendoGrid({
        // the column fields should match the excel columns
        columns: [
           
              { field: "Label" },
              { field: "Col1" },
              { field: "Col2" },
              { field: "Col3" },
              { field: "Col4" },
              { field: "Col5" },
              { field: "Col6" },
              { field: "Col7" },
              { field: "Col8" }
        ],
        dataSource: [
          
        ]
      }).on('focusin', function(e) {
        // Get the position of the Grid.
        var offset = $(this).offset();
        // Create a textarea element which will act as a clipboard.
        var textarea = $("<textarea>");
        // Position the textarea on top of the Grid and make it transparent.
        textarea.css({
          position: 'absolute',
          opacity: 0,
          top: offset.top,
          left: offset.left,
          border: 'none',
          width: $(this).width(),
          height: $(this).height()
        })
        .appendTo('body')
        .on('paste', function() {
          // Handle the paste event.
          setTimeout(function() {
            // The pasted content.
            var value = $.trim(textarea.val());
            // Get instance to the Grid.
            var grid = $("#grid").data("kendoGrid");

            var data =  AddColumnToData(value);

              console.log(data);

            grid.dataSource.data(data);
          });
        }).on('focusout', function() {
          // Remove the textarea when it loses focus.
          $(this).remove();
        });
        // Focus the textarea.
        setTimeout(function() {
          textarea.focus();
        });
      });


    function AddColumnToData(pastedContent) {

        // Get the pasted rows - split the text by new line.
        var rows = pastedContent.split('\n');

        var data = [];

        var noOfRows = rows.length;

        var noOfColumns = rows[0].split('\t').length;

        for (var j = 0; j < noOfRows; j++) {

            var rowItem = {};

            if (j === 0) {

                rowItem.Label = "Year";

            } else if (j === 1) {

                rowItem.Label = "Balance Sheet";

            } else if (j === 2) {

                rowItem.Label = "Sales";

            } else if (j === 3) {

                rowItem.Label = "Cost";

            } else if (j === 4) {

                rowItem.Label = "Income Statement";

            } else if (j === 5) {

                rowItem.Label = "Profit";
            }
            
           
            for (var i = 0; i < noOfColumns; i++) {

                rowItem[`Col${i+1}`] = rows[j].split('\t')[i];

                //if (j === 0) {

                //    rowItem[`Year${i}`] = rows[j].split('\t')[i];
                //}

                //if (j === 1) {

                //    rowItem[`Balance${i}`] = rows[j].split('\t')[i];
                //}

                //if (j === 2) {

                //    rowItem[`Sales${i}`] = rows[j].split('\t')[i];
                //}

                //if (j === 3) {

                //    rowItem[`Cost${i}`] = rows[j].split('\t')[i];
                //}

                //if (j === 4) {

                //    rowItem[`Income${i}`] = rows[j].split('\t')[i];
                //}

                //if (j === 5) {

                //    rowItem[`Profit${i}`] = rows[j].split('\t')[i];
                //}

             
               
            }

            data.push(rowItem);
        }

        return data;
       
    }

   
        
      
    function SaveToDataBase() {

        var gridItems = $("#grid").data("kendoGrid").dataSource.data();

        var noOfItems = parseInt( gridItems.length);

        var arrayOfItems = [];

        for (var j = 0; j < noOfItems; j++) {

            var Label = gridItems[j].Label;
            var Col1 = parseFloat(gridItems[j].Col1);
            var Col2 = parseFloat(gridItems[j].Col2);
            var Col3 = parseFloat(gridItems[j].Col3);
            var Col4 = parseFloat(gridItems[j].Col4);
            var Col5 = parseFloat(gridItems[j].Col5);
            var Col6 = parseFloat(gridItems[j].Col6);
            var Col7 = parseFloat(gridItems[j].Col7);
            var Col8 = parseFloat(gridItems[j].Col8);
         
            if (typeof (Col1) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 1`);
            }

            if (typeof (Col2) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 2`);
            }

            if (typeof (Col3) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 2`);
            }

            if (typeof (Col4) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 3`);
            }

            if (typeof (Col5) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 5`);
            }

            if (typeof (Col6) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 6`);
            }

            if (typeof (Col7) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 7`);
            }

            if (typeof (Col8) != "number") {

                alert(`Enter a valid number for row ${(j + 1)}, column 8`);
            }

            var item = { Label, Col1, Col2, Col3, Col4, Col5, Col6, Col7, Col8};
                        
            arrayOfItems.push(item)

        }

        console.log(arrayOfItems);

        $.post({
            url: "/import/SaveFinancials",
            data: JSON.stringify(arrayOfItems),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //email code confirmation

               // ShowMessage(`Kindly go to your email at ${$("#reg-email").val()} 
               //click on the link in your email to activate your account`, 'ResendConfirmationMessage', 'success');

               // RemoveSpinnerToButton(btn);

                console.log("Success: ", data);

           }
        }).fail(function (data) {

            console.log("Failed: ", data);

            //RemoveSpinnerToButton(btn);

        });


    }

</script>


